.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.unordered {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  border: 2px solid green;
}

.inner-box {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  width: 100%;
}
