.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 72, 92);
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  color: white;
}

.logo {
  width: 120px;
  height: 25px;
  margin-left: 30px;
}

.rightbox {
  display: flex;
  align-items: center;
}

.timerbox {
  display: flex;
  align-items: center;
  margin: 10px;
}

@media screen and (max-width: 576px) {
  .timerbox {
    margin: 3px;
  }
  .navbar {
    font-size: 8px;
  }
  .logo {
    width: 70px;
    height: 15px;
    margin-left: 10px;
  }
}

.timerimg {
  height: 20px;
}

.each {
  list-style: none;
  display: flex;
  align-items: center;
  height: 25px;
}
